/* You can add global styles to this file, and also import other style files */
body{
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

.mensagem-error {
    background-color: rgb(253, 147, 147);
    opacity: 0.6;
    border-radius: 5px;
    color: white;
}