<section class="container-md d-flex flex-column  align-items-center w-100">

    <div class="d-flex align-items-center mt-4">
        <h1 class="">Estacionamento</h1>

    </div>
    <div class="card info-vagas m-4">
        <div class="card-header d-flex justify-content-center">
          Informações sobre vagas
        </div>
        <div class="card-body d-flex gap-4 justify-content-center">
            <div class="card card-item">
                <div class="card-header">
                   vagas Disponiveis
                  </div>
                  <div class="card-body d-flex justify-content-center">
                    <p class="fs-5"> {{vacanciesAvailable}}</p>
                 
                  </div>
            </div>
            <div class="card  card-item">
                <div class="card-header">
                   vagas Ocupadas
                  </div>
                  <div class="card-body d-flex justify-content-center">
                    <p  class="fs-5"> {{vacanciesUnavailable}}</p>
                 
                  </div>
            </div>
            <div class="card  card-item">
                <div class="card-header">
                   vagas Mensalistas
                  </div>
                  <div class="card-body d-flex justify-content-center">
                   <p  class="fs-5">??</p> 
                  </div>
            </div>

            <div class="card  card-item">
                <div class="card-header">
                   Total de vagas
                  </div>
                  <div class="card-body d-flex justify-content-center">
                 <p  class="fs-5"> {{vacancies}}</p>
                  </div>
            </div>
            
        </div>
      </div>

</section>