.vagas{
    width: 80vw;
   height: auto;
}

.card-vagas{
    width: 140px !important;
    height: 140px;
}

.ocupped{
    background-color: rgb(252, 111, 111);
}

.free{
    background-color: rgb(186, 250, 149);
}
