<section class="container-md d-flex flex-column lex-aling-center col-6 col-lg-4 flex-column gap-4">

    <div class="card mt-4">
        <div class="card-body">
         <button class="btn btn-primary" (click)="newClient()">Novo Cliente</button>
        </div>
      </div>
    <h1>Lista de clientes</h1>

    <div *ngFor="let client of clients"  class="card">
        <div class="card-body">
            <p class="fs-5">{{client.name}}</p>
            <p>{{client.cpf}}</p>
            <p>{{client.telefone}}</p>
            <p>{{client.email}}</p>
            <p>{{client.plate}}</p>
        
        </div>
       
    </div>
    
</section>

