<section class="container-md d-flex flex-column lex-aling-center  flex-column gap-4">

    <div class="card mt-4">
        <div class="card-body">
         <button class="btn btn-primary" (click)="newClient()">Novo Cliente</button>
        </div>
      </div>
    <h1>Lista de clientes</h1>

    <div class="card">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereco</th>
                <th scope="col">Placa</th>
                <th scope="col">Detalhes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients let index = index" >
                <th scope="row">{{index}}</th>
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.cpf}}</td>
                <td>{{client.telefone}}</td>
                <td>{{client.endereco}}</td>
                <td>{{client.plate}}</td>
                
                <td>
                    <button class="btn btn-info" (click)="infoClient(client._id)">Detalhes</button>
                  </td>
              </tr>
          
            </tbody>
          </table>

    </div>

   
    
</section>

